<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pin.title %>
</p>


<div style="height: auto; width: 400px">
  <%= image_tag(@pin.image)%>
</div>

<p>
  <strong>Caption:</strong>
  <%= @pin.caption %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
